#navigation li,#pay,#addToCard {
  display: inline;
  padding: 0.5em;
  background-color: #ddd;
  border: 3px outset gray;
  margin: 1em 1em 2em 1em;
}

#checkout{
  margin-block-end: 1em;
  display: none;
   
}
#footer{
  margin-top :1%;
}
#carrello  {
  display: none;
  padding: 0.5em;
  background-color: #ddd;
  border: 3px outset gray;
  margin: 1em 1em 2em 1em;
  float: right;
}

textarea{
height: 0px;
width: 18em;
resize: none;
}
 #pay,#checkout{

  text-align: right;
  list-style-type: none;
 }
h1, #navigation, #flash,#msg {
  text-align: center;
}

table th,.prodotti_ul,.head,.head_basket {
  border-bottom: 1px solid #aaa;
  text-align: left;
}

table th,.prodotti_ul, .head,.head_basket,table td {
  padding-right: 1em;
}
.prodotto,.prodotto_li,.desc {
     overflow: hidden;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;

}
.prodotto_li,.head_prod{
  font-weight:bold;
}
.prodotti,.prodotti_ul{
  overflow: hidden;
  display:flex;
  width: 80%;
}
.head_prod{
  overflow: hidden;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}
.head,.head_basket{
  overflow: hidden;
  display:flex;
  width: 67%;
}
.head_basket{
  width:80%
}
.textBox{
  width: 70%;
    height: 81px;
    resize: auto;
}


#flash,#msg {
  background-color: #ffffcc;
  border: 1px dotted #ccccaa;
  margin-left: 11.5em;
  margin-right: 11.5em;
  padding: 0.5em;
  display:none;
}

#msg {
  background-color: #ffffcc;
  border: 1px dotted #ccccaa;
  margin-left: 11.5em;
  margin-right: 11.5em;
  padding: 0.5em;
  display:flex;
}

button{
  margin: 4px;
}
h1, h2 {
  margin: 0.5em;
}

img{
  width: 150px;
}

input:invalid{
  background-color: red;
}

input name :valid{
  background-color: green;
}


