#navigation li,#pay li,#addToCard {
  display: inline;
  padding: 0.5em;
  background-color: #ddd;
  border: 3px outset gray;
  margin: 1em 1em 2em 1em;
}

#carrello  {
  display: inline;
  padding: 0.5em;
  background-color: #ddd;
  border: 3px outset gray;
  margin: 1em 1em 2em 1em;
  float: right;
}


 #pay,#checkout{

  text-align: right;
  list-style-type: none;
 }
h1, #navigation, #flash {
  text-align: center;
}

table th,.prodotti_ul,.head {
  border-bottom: 1px solid #aaa;
  text-align: left;
}

table th,.prodotti_ul, .head,table td {
  padding-right: 1em;
}
.prodotto,.prodotto_li {
     overflow: hidden;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;

}
.prodotto_li,.head_prod{
  font-weight:bold;
}
.prodotti,.prodotti_ul{
  overflow: hidden;
  display:flex;
  width: 50%;
}
.head_prod{
  overflow: hidden;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}
.head{
  overflow: hidden;
  display:flex;
  width: 40%;
}

#flash {
  background-color: #ffffcc;
  border: 1px dotted #ccccaa;
  margin-left: 11.5em;
  margin-right: 11.5em;
  padding: 0.5em;
  display:none;
}
button{
  margin: 4px;
}
h1, h2 {
  margin: 0.5em;
}

img{
  width: 150px;
}

input:invalid{
  background-color: red;
}

input name :valid{
  background-color: green;
}


