#navigation li,#pay li,#addToCard {
  display: inline;
  padding: 0.5em;
  background-color: #ddd;
  border: 3px outset gray;
  margin: 1em 1em 2em 1em;
}

#carrello  {
  display: inline;
  padding: 0.5em;
  background-color: #ddd;
  border: 3px outset gray;
  margin: 1em 1em 2em 1em;
  float: right;
}


 #pay,#checkout{

  text-align: right;
  list-style-type: none;
 }
h1, #navigation, #flash {
  text-align: center;
}

table th {
  border-bottom: 1px solid #aaa;
  text-align: left;
}

table th, table td {
  padding-right: 1em;
}
div{
  overflow: hidden;

  
}

#flash {
  background-color: #ffffcc;
  border: 1px dotted #ccccaa;
  margin: 0.5em;
  padding: 0.5em;
  display:none;
}

h1, h2 {
  margin: 0.5em;
}

img{
  width: 150px;
}

input:invalid{
  background-color: red;
}

input name :valid{
  background-color: green;
}

